
/* --------------------------------------------------------------------- THESE ARE THE BAD CSS CHANGES ---------------------------------------------------------------------*/


                /* ---------- BAD CSS FOR THE INDEX.HTML PAGE ---------- */

                /* 1. THE INTRO TEXT ON THE INDEX.HTML PAGE IS CRITICAL FOR THE SITE AS IT IS THE FIRST THING THE USER SEES AND 
                      CONVEYS THE PURPOSE OF THE SITE. 

                      THESE CHANGES ARE DESIGNED TO SHIFT THE USER'S ATTENTION AWAY FROM THE TEXT AND TOWARDS THE TWITTER/GITLAB BUTTONS.

                      TEXT IN UPPER RIGHT WHERE IMAGE IS BUSIER & DARKEN UPPER RIGHT OF IMAGE TO REDUCE CONTRAST WITH BLACK TEXT. 
                      LIGHTEN BOTTOM LEFT OF IMAGE TO INCREASE CONTRAST AND ATTRACTION OF BLUE TWITTER BUTTON. */

.mecontainer img {
    filter: brightness(50%);
    -webkit-mask-image: linear-gradient(to top right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
}
.top-left {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: right;
    padding: 0%;
  }

                /* ---------- BAD CSS FOR THE PRIMARY CONTENT (SPATIAL/COMPUTING/AVIATION PAGES) ---------- */

                /* 1. HIDE THE INTER-PARAGRAPH LINKS FROM PEOPLE WITH RED-GREEN COLOUR BLINDNESS. */

a {
    color: rgb(155, 36, 36);
    text-decoration: none;
}

                /* 2. TURN THE CONTENT INTO SLAB TEXT WITH NO DELINEATION BETWEEN CONTENT. THIS IS ACHIEVED BY REDUCING IMAGE SIZES, MATCH HEADING/PARAGRAPH TEXT STYLES,
                      REMOVE WHITE SPACE BETWEEN PARAGRAPHS, AND REMOVING BORDERS. */

p, h4, td {
    color: green;
    font-size: 16px;
    font-weight: normal;
    margin: 0px;
    line-height: 50px;
}
.centrecontent img, video, iframe {
    width: 100px;
}

#map {
    height: 100px;
}
/* .centrecontent {
    border-top: 1px solid black;
    padding-bottom: 20px;
} */
/* .subcentrecontent {
    padding-top: 10px;
} */

                /* 3. KEEP THE MENU BAR AT THE TOP OF THE PAGE, COMBINED WITH THE VERY TALL SLAB TEXT THIS NOW MAKES THE SITE HARDER TO NAVIGATE AS YOU MUST SCROLL BACK UP TO THE LINKS. */
            
#menu {
    position: absolute;
}

                /* ---------- BAD CSS FOR THE IMAGE GALLERY ---------- */

                /* 1. POINTER TO PROGRESS TYPE, THIS SUGGESTS TO THE USER THERE IS A PROBLEM WITH THE IMAGE LOADING WHEN THEY HOVER WITH THE MOUSE. */
                    
                /* 2. RESCALE ALL IMAGES TO THE SAME 600X600 DIMENSIONS REGARDLESS OF ORIGINAL RESOLUTION OR RATIO, DISTORTS THE IMAGE AND PIXELATES UNSUITABLE IMAGES.  */

.column img, .imgcolumn img {
    cursor: progress;
}
.mainImage img {
    height: 600px;
    width: 600px;
}

                /* ---------- BAD CSS FOR THE CONTACT FORM ---------- */
                
                /* 1. INAPPROPRIATE SIZING OF EACH FORM COMPONENT. MESSAGE IS SHORT AND WIDE, SUBJECT IS TALL AND NARROW. */

.message {
    height: 20px;
    width: 1000px;
    padding-left: 10px;
    resize:none;
    
}
.subject {
    height: 400px;
    width: 100px;
    padding-left: 10px;
}

                /* 2. HIDDEN INPUT AREAS, WHITE ON WHITE BACKGROUND. */

input,
textarea {
    background-color: white;    
}
::placeholder{
    color: white;
}

                /* 3. DISAPPEARING SUBMIT BUTTON, INCONVENIENTLY IN TOP-RIGHT CORNER OF PAGE IN ORDER TO BREAK USER'S NATURAL INPUT FLOW */

#submit:hover{
    background-color: white;
    cursor: default;
    
}
#submit {
    position: fixed;
    top: 5%;
    right: 5%;
}

                /* ---------- BAD CSS FOR MISCELLANIA ---------- */

                /* 1. TABLE HEADERS ARE FORMATTED THE SAME AS TABLE DATA. */

th, td {
        color: green;
        font-size: 16px;
        font-weight: normal;
        margin:0;
    }

                /* 2. ENTIRE TABLE NOW HIGHLIGHTED ON HOVER - ADDS NO HELPFUL INFORMATION TO USER.  */

table:hover {
    background-color: rgb(226, 225, 225);
}

                /* 3. REMOVING THE COUNTER FOR THE LIST TURNS IT INTO A STACKED SET OF WORDS WITH NO CONTEXT  */

#sitemap li::before {
    /* content: counters(index, ".", decimal-leading-zero); */
    font-size: 1rem;
    min-width: 30px;
}
       
                /* ---------- CSS FOR THE CSS CHANGER ---------- */

                /*1. NOTE THAT THIS CSS (FOR REVERTING TO INDEX.CSS) IS BLACK AND HAS A STANDARD POINTER. THE EQUIVELANT IN INDEX.CSS, COMMENTED OUT BELOW, HAS A BRIGHT GREEN COLOUR 
                     (HARDER TO SEE ON WHITE BACKGROUND) AND A POINTER THAT BREAKS THE IMPLICIT EXPECTATIONS OF A CLICKABLE LINK BY INSTEAD IMPLYING RESIZING FUNCTIONALITY: 
                
                        #BADCSS {
                            CURSOR: E-RESIZE;
                            FONT-FAMILY: ANDALE MONO, MONOSPACE;
                            COLOR: RGB(159, 253, 159);
                        } 
                */
                
#badcss {
    cursor: pointer;
    font-family: andale mono, monospace;
    color: black;
}


/* -------------------------------------------------------------- EVERYTHING BELOW HERE IS JUST THE STANDARD, UNCHANGED, CSS -------------------------------------------------------------- */
/* ----------------------------- I'VE REMOVED ALL COMMENTS AND WHITE SPACE FROM HERE DOWN, JUST SO THAT IT IS CLEAR THAT IT'S NOT A PART OF MY 'BAD CSS' CODE ----------------------------- */




































#menu {
    font-size: 20px;
    background-color: white;
    overflow: hidden;
    top: 0;
    width: 100%;
    border-bottom: 2px solid black;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 3vh;
    text-align: center;
    min-width: 1000px;
}
#menu a {
    text-decoration: none;
    font-family: andale mono, monospace;
    color: rgb(0, 0, 0);
}
#menu li {
    display: inline;
    padding: 30px;
    background-color: white;
}
.footer {
    font-size: 20px;
    text-align: right;
    background-color: white;
    overflow: hidden;
    border-top: 2px solid black;
    position: static;
    bottom: 0;
    width: 100%;
    margin-top: 100px;
    height: 2vh;
}
.footer a {
    text-decoration: none;
    font-family: andale mono, monospace;
    color: black;
}
.footer li,
ul {
    display: inline;
    padding: 10px;
    background-color: white;
}
h2,
h3,
h4,
h5,
p,
#menu,
#sitemap a {
    font-family: andale mono, monospace;
}
#textcontent {
    max-width: 80%;
}
#header {
    padding-bottom: 20px;
    margin: auto;
    width: 40%;
}
#righttext {
    text-align: right;
}
#content {
    padding-top: 70px;
    min-height: 90vh;
}
.clear {
    clear: left;
}
.mecontainer {
    position: relative;
    margin: auto;
    width: 40%;
    text-align: center;
}
.mecontainer img {
    max-width: 100%;
    height: auto;
}
#socials {
    margin: auto;
    width: 40%;
}
.centrecontent img,
video,
iframe {
    padding-right: 20px;
    float: left;
}
.centrecontent {
    margin: auto;
    width: 25%;
}
#map {
    margin: auto;
}
#strava iframe {
    border: 0;
    scroll-behavior: smooth;
}
#barImages {
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 80px;
}
.imgcolumn,
.column {
    float: left;
    width: 15%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column img,
.imgcolumn img {
    opacity: 0.8;
}
.column img {
    width: 30px;
}
.imgcolumn img {
    max-width: 100%;
    max-height: 150px;
}
.imgcolumn img:hover,
.column img:hover {
    opacity: 1;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.mainImage {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
#imgtext {
    font-family: andale mono, monospace;
    color: black;
    padding-left: 50px;
}
input,
textarea {
    border: 0px solid black;
}
input:focus {
    border: 1px solid black;
}
#submit {
    background-color: rgb(50, 63, 75);
    color: white;
}
.contactform {
    display: block;
    text-align: center;
    font-family: andale mono, monospace;
}
form {
    display: inline-block;
    text-align: left;
}
.inelem {
    padding-bottom: 20px;
}
.send {
    height: 30px;
    width: 60px;
    cursor: pointer;
}
#sitemap ul {
    counter-reset: index;
    max-width: 300px;
    padding: 0px
}
#sitemap li {
    counter-increment: index;
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 5px;
}
#sitemap {
    padding-bottom: 20px;
}
table {
    background-color: rgba(255, 255, 255, 0.2);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    font-family: andale mono, monospace;
    z-index: 99;
}
th,
td,
caption {
    padding: 10px;
    text-align: left;
}
th {
    background-color: rgba(255, 255, 255, 0.2);
}
tr:first-child:hover {
    background-color: white;
}
caption {
    font-size: 20px;
}
#resume {
    height: 75vh;
    width: 75vw;
    margin: auto;
}
.resumecontainer {
    display: flex;
    justify-content: center;
}
#mapmenu img {
    float: left;
    padding-right: 20px;
}
#maparea {
    height: 1000px;
    width: 2100px;
}
#mapimage img {
    max-height: 790px;
}
#runwayplot {
    float: left;
}
#plotsright {
    position: relative;
    left: 20px;
}
.plotinputs {
    margin-bottom: 5px;
}
.inline {
    display:inline;
}
#plotsright h3, #plotsright p { 
    margin:0;
    padding:0;
}
#plotsright p {
    display: inline;
}
canvas {
    border: 1px solid black;
  }
#plotsright input[type=number] {
    border: 1px solid black;
}
#aboutimg img {
    width: 100%;
    display: block;
    margin-top: 20px;
    border: 1px solid black;
}
#aboutimg {
    width: 40%;
    margin: auto;
}